:root {
    --secondary-color: #b89999;
}

*,
*end:before,
*:after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: #dbd0d0;
}

.navtop {
	background-color: #2f3947;
	height: 60px;
	width: 100%;
	border: 0;
}
.navtop div {
	display: flex;
	margin: 0 auto;
	width: 1000px;
	height: 100%;
}
.navtop div h1, .navtop div a {
	display: inline-flex;
	align-items: center;
}
.navtop div h1 {
	flex: 1;
	font-size: 24px;
	padding: 0;
	margin: 0;
	color: #eaebed;
	font-weight: normal;
}
.navtop div a {
	padding: 0 20px;
	text-decoration: none;
	color: #c1c4c8;
	font-weight: bold;
}
.navtop div a i {
	padding: 2px 8px 0 0;
}
.navtop div a:hover {
	color: #eaebed;
}

.menu{
    background-color: #ffffff;
    width: 450px;
    height: 730px;
    padding: 50px 30px;
    margin: 20px;
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 20%;
    border-radius: 8px;
    box-shadow:  0 20px 25px rgba(0,0,0,0.25);
}
.menu *{
    font-family: "Poppins",sans-serif;
    font-size: 16px;
}

.button[class="sms button"] {
    width: 100%;
    height: 9%;
    resize: none;
    padding: 1px;
    color: #202020;
    border: 1.5px solid #b2b2b2;
    border-radius: 5px;
    outline: none;
    cursor: pointer;
} 

.button[class="sms button"]:hover {
    background-color: var(--secondary-color);
    transition: background-color 0.2s;
}

.container{
    background-color: #ffffff;
    width: 900px;
    height: 730px;
    padding: 50px 30px;
    margin: 20px;
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 60%;
    border-radius: 8px;
    box-shadow:  0 20px 25px rgba(0,0,0,0.25);
}

.container[class="container contacts"]{
    background-color: #ffffff;
    width: 100%;
    height: 730px;
    padding: 50px 30px;
    margin: 20px;
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 60%;
    border-radius: 8px;
    box-shadow:  0 20px 25px rgba(0,0,0,0.25);
}

.container *{
    font-family: "Poppins",sans-serif;
    font-size: 16px;
}

.container.new-message .contact {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: .5rem;
}

.container.new-message .contact .top {
    display: flex;
    justify-content: space-between;
    width: 100%;
    gap: .5rem;
}

.container.new-message .contact .top {
    display: flex;
    width: 100%;
}

.container.new-message .contact .top span {
    width: fit-content;
}

.container.new-message .contact .top span, 
.container.new-message .contact .top input {
    padding: 10px;
    color: #202020;
    border: 1.5px solid #b2b2b2;
    border-radius: 5px;
    outline: none;
}

.container.new-message .contact .top #contact-input {
    flex: 1;
}

.container.new-message .contact .top .add-button {
    padding: 10px;
    color: #202020;
    border: 1.5px solid #b2b2b2;
    border-radius: 5px;
    cursor: pointer;
} 

.container.new-message .contact .top .add-button:hover {
    background-color: var(--secondary-color);
    transition: background-color 0.2s;
}

.container.new-message .contact a {
    width: fit-content;
    padding: 10px;
    color: #202020;
    border: 1.5px solid #b2b2b2;
    border-radius: 5px;
    outline: none;
    cursor: pointer;
    text-decoration: none;
}

p {
    width: 100%;
    text-align: right;
    margin-top: 15px;
    color: #737373;
}

h1 {
    text-align: center;
}

textarea{
    display: block;
    width: 100%;
    height: 35%;
    resize: none;
    padding: 20px;
    color: #202020;
    border: 1.5px solid #b2b2b2;
    border-radius: 5px;
    outline: none;
}

.button[class="contact button"]:hover {
    background-color: var(--secondary-color);
    transition: background-color 0.2s;
}

input[type=submit]{
    display: block;
    width: 100%;
    resize: none;
    padding: 10px;
    color: #202020;
    border: 1.5px solid #b2b2b2;
    border-radius: 5px;
    outline: none;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: var(--secondary-color);
    transition: background-color 0.2s;
}

table {
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

.goback {
    width: 20%;
    resize: none;
    padding: 10px;
    color: #202020;
    border: 1.5px solid #b2b2b2;
    border-radius: 5px;
    outline: none;
    cursor: pointer;
}

fieldset {
	width: 70%;
	margin-left: 220px;
	margin-top: 510px;
}

